*/.settings
.settings
.prefs
.project
.factorypath
.springBeans
.classpath
*.lst
*application/target/test-classes/*
*application/target/surefire-reports/*
*application/target/maven-status/*
*application/target/maven-archiver/*
*application/target/generated-test-sources/*
*application/target/generated-sources/*
*application/target/classes/*
*application/target/*.original
*domain/target/*
*delivery/target/*
*integration/target/*
.factorypath
/bin
*/bin/*
